/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2023, 11:50:07 PM
    Author     : laptop
*/

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Clicker Script', cursive;
    font-weight: bold;
}
.header{
    display:flex;
    font-family: "Quicksand", sans-serif;
}
.logo{
    float: left;
    width:10%;
    height:auto;
}
.logo img{
    width: 100%;
    height:100%;
}
.quotes{
    float:end;
    width:80%;
    text-align: right;
    margin:auto 0;
}
.header form{
    float:end;
    width:10%;
    text-align: right;
    margin:auto 0;
}
.button{
    background-color: #FCBCAE;
    border:none;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    padding: 10px 10px;
    border-radius: 20px;
}
table{
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin:0 auto;
    margin-top: 30px;
    padding:10px 10px;

}
th{
    text-align: center;
    border: none;
    padding: 10px 10px;
}
td{
    text-align: center;
    border: none;
}
tr{
    border-top: 2px solid #FCBCAE;
}
td input{
    border:none;
    text-align: center;

}
.button1{
    background-color: white;
    border:none;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    padding: 5px 5px;
    width:100%;
    height:100%;
    text-decoration: underline;
}
.msg{
    text-align: center;
    font-family: "Quicksand", sans-serif;
}